
import(stats)

importFrom(splines, splineDesign)

export(expectile.laws,
       expectile.restricted,
       expectile.bundle,
       expectile.boost,
       expectile.sheets,
       expectile.noncross,
       bundle.density,
       expectile.cdf,
       base,
       quant.boost,
       quant.bundle,
       expectile,
       pemq,
       qemq,
       demq,
       eemq,
       remq,
       peemq,
       ebeta,
       enorm,
       eunif,
       et,
       egamma,
       echisq,
       eexp,
       elnorm,
       eeplot,
       eenorm,
       pebeta,
       penorm,
       peunif,
       pet,
       pegamma,
       pechisq,
       peexp,
       pelnorm)

S3method(plot, expectreg)
S3method(print, expectreg)
S3method(residuals,expectreg)
S3method(resid, expectreg)
S3method(fitted, expectreg)
S3method(fitted.values, expectreg)
S3method(effects, expectreg)
S3method(coef, expectreg)
S3method(coefficients, expectreg)
S3method(plot, bundledensity)
S3method(predict, regbase)
S3method(predict, expectreg)
