export(expectile.laws,
       expectile.restricted,
       expectile.bundle,
       expectile.boost,
       expectile.sheets,
       bundle.density,
       base,
       quant.boost,
       quant.bundle,
       pemq,
       qemq,
       demq,
       eemq,
       remq,
       ebeta,
       enorm,
       eunif,
       et,
       egamma,
       echisq,
       eexp,
       elnorm)

S3method(plot, expectreg)
S3method(print, expectreg)
S3method(plot, bundledensity)
S3method(predict, regbase)
